.overlay {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.home-title {
  @include title-style();
  margin-top: 0;
  padding-top: 15px;
  font-size: 80px;
  color: white;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
}

button {
  @include button-style();
}