.icon-btns {
  justify-self: center;
}
.fa-clipboard-list,
.fa-hiking {
  font-family: $icon-font;
  font-size: 25px;
}

.fa-clipboard-list:hover {
  color: $violet;
  font-size: 29px;
}

.fa-hiking:hover {
  color: $green;
  font-size: 29px;
}

#bucketList {
  color: $violet;
}
#visitedParks {
  color: $green;
}
