.icons {
  @include button-style();
  font-family: $icon-font;
  font-size: 20px;
}

.icons:hover,
#partOfList {
  color: green;
}


.icon-btns:hover {
  visibility: visible;
}

.icon-btns:hover {
  visibility: visible;
}

