.filter-controls {
  display: block;
  width: 80%;
  margin: 10px auto;
}

#select-menu {
  width: 350px;
  display: block;
  margin: 20px auto;
  background-color: white;
  font-family: $body-font;
  font-size: 18px;
  border: 1px solid black;
  outline: none;
}