.landing-background0 {
  @include background-image("https://i.imgur.com/iVKglLi.jpg");
}

.landing-background1 {
  @include background-image("https://i.imgur.com/CFczeGe.jpg");
}

.landing-background2 {
  @include background-image("https://i.imgur.com/Fiy0aLl.jpg");
}

.landing-background3 {
  @include background-image("https://i.imgur.com/hiy2MOw.jpg");
}

.landing-background4 {
  @include background-image("https://i.imgur.com/cP2RlpJ.jpg");
}

.landing-background5 {
  @include background-image("https://i.imgur.com/1s10GPV.jpg");
}

.splash-div {
  width: 800px;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -400px;
}

.splash-title {
  @include title-style();
}

button {
  @include button-style();
}