.card-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  margin-top: -451px;
  margin-left: 1px;
  height: $map-height;
  width: $map-width;
  z-index: 12;
}

.park-title {
  margin: 0 15px 15px 15px;
  text-align: center;
  font-size: 24px;
}

.park-card-small {
  height: $map-height;
  width: 300px;
  font-family: $body-font;
  border: 1px solid black;
  background-color: white;
}

.park-text-small {
  margin: 10px 10px;
  text-align: justify;
  font-size: 14px;
}

.park-img-small {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.fa-times-circle {
  margin: 5px;
  height: 22px;
  width: 22px;
  &:hover {
    color: red;
    font-size: 18px;
  }
}

.park-card-large {
  height: $map-height;
  width: 100%;
  font-family: $body-font;
  border: 1px solid black;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .fa-times-circle {
    margin: 15px 5px 5px 0;
  }
}

.park-text-large {
  margin: 0 25px 15px 15px;
  text-align: justify;
  font-size: 14px;

  h3 {
    font-size: 14px;
  }
}

.park-img-large {
  grid-row: span 2;
  margin: 15px;
  height: 420px;
  max-width: 500px;
  object-fit: cover;
}

.park-descrip {
  overflow-y: auto;
  height: 66px;
}

.park-descrip::-webkit-scrollbar {
    -webkit-appearance: none;
}

.park-descrip::-webkit-scrollbar:vertical {
  width: 11px;
}

.park-descrip::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}


.button-small {
  box-shadow: none;
  display: block;
  font-size: 14px;
  margin: 5px auto;
  &:hover {
    background-color: lightgray;
  }
}

p {
  margin: 10px;
}

.user-list-btns {
  display: grid;
  grid-template-columns: 36px 36px;
  justify-content: center;
  margin-top: 14px;
  height: 20px;
}

@media (max-width: 1120px) {
  .park-img-large {
  max-width: 350px;
}
}

@media (max-width:  1000px){
  .park-card-large {
  grid-template-columns: 1fr;
  }
  .park-img-large {
      display: none;
  }
}

@media (max-width: 500px) {
  .park-title {
    font-size: 20px;
  }

  .park-card-small,
  .park-img-small {
  width: 270px;
  }

}

@media (max-width: 400px) {
  .park-descrip {
  height: 62px;
  }

  .park-card-small,
  .park-img-small {
  width: 220px;
  }
}