.card-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  margin-top: -451px;
  margin-left: 1px;
  height: $map-height;
  width: $map-width;
  z-index: 12;
}

.park-title {
  margin: 15px;
  text-align: center;
  font-size: 24px;
}

.park-card-small {
  height: $map-height;
  width: 300px;
  font-family: $body-font;
  border: 1px solid black;
  background-color: white;
}

.park-text-small {
  margin: 10px 10px;
  text-align: justify;
  font-size: 14px;
}

.park-img-small {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.park-card-large {
  height: $map-height;
  width: 100%;
  font-family: $body-font;
  border: 1px solid black;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.park-text-large {
  margin: 0 25px 15px 15px;
  text-align: justify;
  font-size: 14px;

  h3 {
    font-size: 14px;
  }
}

.park-img-large {
  grid-row: span 2;
  margin: 15px auto;
  height: 420px;
  max-width: 500px;
  object-fit: cover;
}

.button-small {
  display: block;
  font-size: 14px;
  box-shadow: none;
  margin: 5px auto;
}

p {
  margin: 10px;
}

.user-list-btns {
  display: grid;
  grid-template-columns: 38px 38px;
  grid-gap: 20px;
  margin: 10% 35%;
}

.fa-times-circle {
  margin: 5px;
}